repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0  # this is optional, use `pre-commit autoupdate` to get the latest rev!
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.9
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]

-   repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
    -   id: black
        # args: [ --line-length=88 ]

- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
    - id: isort
      name: isort (python)
